:root {
    --cor-verde_1: #59B7C8;
    --cor-rosa: #9D79AA;
    --cor-laranja: #D1783C;
    --cor-roxo-1: #411C52;
    --cor-roxo-2: #734F8E;
    --cor-roxo-3: #402040;
    --cor-verde_2: #897D2E;
    --cor-vermelho: #C54339;
    --cor-sentimento-1: #94FE92;
    --cor-sentimento-2: #FE9292;
    --cor-sentimento-3: #FEF592;
  }